* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(86, 186, 66, 86) 0%,
    rgba(34, 164, 116, 1) 100%
  );
  /*border: 2px solid purple;*/
}
.nav{
  display: flex;
  flex-wrap:wrap-reverse;

}

.header {
  display: flex;
  flex-wrap:wrap-reverse;
  flex: 1 1 auto;
  top: 5%;
  right: 40%;
  /*background: linear-gradient(45deg, green, lightgreen);*/
  /*background: linear-gradient(0deg, blue, green 40%, red);*/
  justify-content: space-between;
  border-radius: 1rem;
  padding-left: 3%;
  padding-right: 2%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom:1%;
  align-items: center;
}
.title {
  font-weight:normal;
}
.top-padding {
  height: 15px;
  /*border: 1px solid #000;*/
}
.links{
  display: flex;
  /*flex-wrap:wrap;*/
}
.elien {
  /*width: 207px;*/
  /*height: 200px;*/
  margin-left:25px ;
  margin-right: 20px;
  background-image: url('alien_samll.jpg');
  background-size: no-repeat;
  /*margin-right: 167px;*/
  border-radius: 10px;
}
.nav {
  height: auto;
  display: flex;
  /*flex: 1 1 auto;*/
  align-items: center;
  /*background: linear-gradient(45deg, green, lightgreen);*/
  /*background: linear-gradient(0deg, blue, green 40%, red);*/
  justify-content: space-between;
  border-radius: 10px;
  /*border: 2px solid purple;*/
  /*z-index: 2;*/
  /*justify-self: right;*/
  /*border: 1px solid #000;*/
  /*align-self:end;*/
  margin-left:auto;
}


button {
  /*display: flex;*/
  /*flex: 1 1 auto;*/
  /*border-radius: 8px;*/
  /*border: 2px solid transparent;*/
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  /*color: lime;*/
  border: none;
}
.icons{
  display: flex;
  gap:25px;
  margin-left: 15px;
}
.menu {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  color: black;
  transition: all 0.35s ease;
  /*margin: 20px 0 0 100px;*/
  font-size: 22px;
  height: 54px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    /*visibility: visible;*/
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0.0s;
  }

  &:hover {
    color: black;

    &::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
.padding-right {
  width: 50px;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row {
  display: flex;
  flex: 1 1 auto;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 10px;
}

.content {
  display: grid;
  /*border: 2px solid purple;*/
  background-image: url("assets/IMG-20240627-WA0002.jpg");
  place-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  /*color: white;*/
  border-radius: 10px;
}

.content::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 400px;
  background: tomato;
  border-radius: 15px;
  z-index: -1;
  transition: 0.3s;
  animation: animate 2s linear infinite;
}

.content:hover::before {
  width: 310px;
  height: 410px;
}

@keyframes animate {
  50% {
    filter: hue-rotate(350deg);
  }
}

.cont2 {
  display: grid;
  /*border: 2px solid purple;*/
  background-image: url("assets/IMG-20240627-WA0002.jpg");
  background-size: cover;
  place-items: center;
  position: relative;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  /*color: white;*/
  border-radius: 10px;
  overflow: hidden;
  /*z-index: 5;*/
}

.cont2::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 180%;
  background: #1cfff0;
  border-radius: 15px;
  transform: rotate(45deg);
}

.cont2:hover::before {
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cont2::after {
  position: absolute;
  content: "";
  inset: 5px;
  /*background:#222;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("assets/IMG-20240627-WA0002.jpg");
}

.elem {
  text-align: center;
  background-color: white;
  vertical-align: bottom;
  color: black;
  /*width: 70%;*/
  position: relative;
  top: 30%;
  font-size: 1.7em;
  align-self: center;
  border-radius: 5px;
  padding: 3px;
  z-index: 2;
}

.scinka {
  background-image: url("assets/IMG-20240627-WA0002.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h3 {
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 4px #000;
}

@media all and (max-width: 800px) {
  .row {
    /*margin-top: 20%;*/
    margin-left: 6%;
    /*margin-bottom: 10%;*/
    position: relative;
    display: block;
    place-items:center;
    /*float: none; */
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    /*gap:1px;*/
  }

  .cont2,
  .content {
    display: block;
    place-items:center;
    width: 80%;
    height: 60vh;
    margin: 10px;
  }

  .header {
    display: block;
    top: 1%;
    left: 1%;
    width: auto;
    padding: 2%;
    margin: 0;
    font-size: 0.8em;
    z-index: 5;
    text-align: center;
  }
  .nav{
    margin-top:10px;
    justify-content:center;
  }

  /*.nav {*/
  /*  display: flex;*/
  /*  position: fixed;*/
  /*  width: 79%;*/
  /*  height: 9%;*/
  /*  top:90%;*/
  /*  /*bottom:2%;*/*/
  /*  left: 1%;*/
  /*  z-index: 10;*/
  /*}*/
  footer{
    display: none;
  }
  .elien {
    position: absolute;
    left: 100%;
    /*right: 0;*/
    top: 0;
    width: 200px;
    height: 195px;
    float: right;
    }
  .flex-wrap{
    /*display: block;*/
    flex-direction:column;
    margin-top:49% ;
  }
  .elien{
    display: none;
  }
  .cut{
    margin-left: 3%;
  }
  .slides{
    margin-top:35%;
  }
}
.flex-wrap{
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin-top:3%;
  /*align-items: center;*/
  text-align:center;
  /*flex-direction:column;*/
  height: 100vh;
  /*border: 1px solid #000;*/
}
.cut{
  margin-top: 10px; 
  background-image:url('assets/alien3.jpeg');
  background-size: cover;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  
}
.scinka_main{
  /*border: 1px solid #000;*/
  margin-top: 1em;
  margin-right: 20px;
  /*display: flex;*/
  /*flex: 1 1 auto;*/
  font-size:2em;
  z-index: 10;
}
.wycinka{
  /*flex: 1 ;*/
  /*height: 100vh;*/
  display: flex;
  /*flex-direction:column;*/
  color:white;
  /*width: 601px;*/
  /*height: 600px;*/
  /*background-image:url('assets/alien3.jpeg');*/
  background-repeat:no-repeat;
  background-size:contain ;
  /*margin-left:30%;*/
  border: 1px solid #000;
  border-radius: 1rem;
}
.text {
  /*align-self:end;*/
  border: 1px solid #000;
  font-size: 2em;
}

a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

footer {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  position: absolute;
  bottom: 2%;
  left: 10%;
  background-color: #abbaba;
}
